@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
/* Global Styles */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

/* Navigation */

header {
  	border-bottom: 2px solid black;
}
header .container {
	display: flex;
}
.Logo {
	display: flex;
	align-items: center;
	font-weight: bold;
    font-size: 30px;
    width: 20%;
    height: 80px;
    background-color: white;
    text-transform: uppercase;
}
nav ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 80%;
}
nav ul li {
  	display: flex;
  	align-items: center;
	justify-content: center;
	width: 150px;
	background-color: #F54952;
    background-position: 100% 0;
    background-size: 300%;
    cursor: pointer;
    transition: 1s;
}
nav ul li a {
  	text-decoration: none;
  	color: white;
}
nav ul li:first-child:hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(45deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}
nav ul li:nth-child(2):hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(90deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}
nav ul li:nth-child(3):hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(135deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}
nav ul li:last-child:hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(45deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}

/* Jumbotron */

.jumbotron {
	display: flex;
	background-image: url("../images/mount_doom.jpg");
	background-size: cover;
	justify-content: center;
	align-items: center;
	border: 3px solid;
	height: 70vh;
}
.jumbotron h1 {
	color: white;
}

/* Slideshow */

.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.dot-section {
    display: flex;
    justify-content: center;
}

/* Button */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.animation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 100px;
    background-color: #C13277;
    border: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.animation-button:hover {
    transform: scale(1.1);
    background-color: #F54952;
    font-size: 25px;
}

/* Ring animation */

.animation-ring {
    max-width: 500px;
    max-height: 500px;
    position: relative;
}
.ring {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}
.ring:before, .ring:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
}
.ring:before {
    box-shadow: inset 0 25px 0 #ff0000, inset 25px 0 0 #F54952, inset 0 -25px 0 #CC3C1B, inset -25px 0 0 #E7435C;
    animation: counterclockwise 2.5s -0.5s linear infinite;
}
.ring:after {
    box-shadow: inset 0 25px 25px #fafa00, inset 25px 0 25px #fac800, inset 0 -25px 25px #fa9600, inset -25px 0 25px #fa6400;
    animation: clockwise 2.5s -0.5s linear infinite;
}
@keyframes clockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(180deg) scaleX(0.80) scaleY(0.95);
        -webkit-transform: rotateZ(180deg) scaleX(0.80) scaleY(0.95);
    }
    100% {
        transform: rotateZ(360deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
    }
}
@keyframes counterclockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
        -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    }
    100% {
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}

/* Gandalf quote */
.animation-ring h1, p {
    font-family: 'Eagle Lake', cursive;
}
.animation-ring > h1 {
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
}
.animation-ring > p {
    display: flex;
    font-size: 25px;
}

/* Gallery */
.img-1 {background-image: url('../images/gallery/balrog.jpg');}
.img-2 {background-image: url('../images/gallery/dragon_lair.jpg');}
.img-3 {background-image: url('../images/gallery/dwarven_fortress.jpg');}
.img-4 {background-image: url('../images/gallery/elven_garden.jpg');}
.img-5 {background-image: url('../images/gallery/journey.jpg');}
.img-6 {background-image: url('../images/gallery/lavafalls.jpg');}
.img-7 {background-image: url('../images/gallery/lothlorien.jpg');}
.img-8 {background-image: url('../images/gallery/ring.jpg');}
.img-9 {background-image: url('../images/gallery/waterfall_bridge.jpg');}
.img-10 {background-image: url('../images/gallery/orcs_march.jpg');}
.img-11 {background-image: url('../images/gallery/orcs_gundabag.jpg');}
.img-12 {background-image: url('../images/gallery/mirkwood_forest.jpg');}

.gallery {
    background-color: #131212;
    margin: 50px auto;
}
.gallery h1 {
    color: grey;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.gallery:hover h1{
    color: white;
}
.element {
    height: 90px;
    margin: 5px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}
.element-big {
    height: 180px;
}
body:hover .element {
    opacity: 0.3;
}
body .element:hover {
    opacity: 1;
    cursor: pointer;
}
.inside-container, .flex-column, .flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}

/* Cards */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	margin: 10px;
	display: flex;
	justify-content: center;
  	align-items: center;
	min-width: 200px;
 	min-height: 100px;
 	background-color: #C13277;
 	color: white;
 	transition: 0.5s;
}
.card:hover {
	transform: scale(1.1);
	background-color: #DC3E64;
}

/* Footer */

footer {

	background: linear-gradient(135deg, #DC3E64, #fa9600);
    background: -webkit-linear-gradient(135deg, #DC3E64, #fa9600);
	color: white;
}
footer .container {
    margin-top: 50px;
	display: flex;
	height: 100px;
	flex-wrap: wrap;
}
.copyright {
    flex-grow: 1;
    justify-content: flex;
}
.copyright, .contact-data {
	display: flex;
	justify-content: center;
	align-items: center;
}
