@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
/* Global Styles */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
    background-color: #F4F4F4;
}
.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

/* Navigation */

header {
  	border-bottom: 2px solid black;
}
header .container {
	display: flex;
}
.Logo {
	display: flex;
	align-items: center;
	font-weight: bold;
    font-size: 30px;
    width: 20%;
    height: 80px;
    background-color: #F4F4F4;
    text-transform: uppercase;
}
nav ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 80%;
}
nav ul li {
  	display: flex;
  	align-items: center;
	justify-content: center;
	width: 150px;
	background-color: #F54952;
    background-position: 100% 0;
    background-size: 300%;
    cursor: pointer;
    transition: 1s;
}
nav ul li a {
  	text-decoration: none;
  	color: white;
}
nav ul li:first-child:hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(45deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}
nav ul li:nth-child(2):hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(90deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}
nav ul li:nth-child(3):hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(135deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}
nav ul li:last-child:hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(45deg, #C63473 50%, transparent 60%);
    border-color: #8e44ad;
}

/* Slideshow */

.slideshow-container {
    display: block;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    height: 70vh;
    overflow: hidden;
    box-sizing: border-box;
}
.slides {
    display: none;
}
.slides img {
    margin: auto;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -20px;
    width: auto;
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    transition: 0.8s ease;
    border-radius: 5%;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: #F54952;
}
a i.fa {
    font-size: 45px;
}
.text {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    box-sizing: border-box;
    width: 100%;
    bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.dot-section {
    display: block;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #AFAFB1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #000;
}

/* Slideshow animation */

.fade {
    animation: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Button "Click me!" */

.button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.animation-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    min-width: 300px;
    min-height: 80px;
    background-color: #C13277;
    border: none;
    color: white;
    font-size: 25px;
    transition: 0.5s;
    border-radius:  50px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .2);
}
.animation-button:hover {
    transform: scale(1.1);
    background-color: #F54952;
}
.back-button {
    margin: 0 auto;
    margin-top: 100px;
}

/* Ring animation */

.animation-ring {
    max-width: 500px;
    max-height: 500px;
    position: relative;
    display: block;
    margin: 200px auto;
}
.ring {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}
.ring:before, .ring:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
}
.ring:before {
    box-shadow: inset 0 25px 0 #ff0000, inset 25px 0 0 #F54952, inset 0 -25px 0 #CC3C1B, inset -25px 0 0 #E7435C;
    animation: counterclockwise 2.5s -0.5s linear infinite;
}
.ring:after {
    box-shadow: inset 0 25px 25px #fafa00, inset 25px 0 25px #fac800, inset 0 -25px 25px #fa9600, inset -25px 0 25px #fa6400;
    animation: clockwise 2.5s -0.5s linear infinite;
}
@keyframes clockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(180deg) scaleX(0.80) scaleY(0.95);
        -webkit-transform: rotateZ(180deg) scaleX(0.80) scaleY(0.95);
    }
    100% {
        transform: rotateZ(360deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
    }
}
@keyframes counterclockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
        -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    }
    100% {
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
        -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}

/* Gandalf quote */

.animation-ring h1, p {
    font-family: 'Eagle Lake', cursive;
    display: flex;
    justify-content: flex-end;

}
.animation-ring > h1 {
    font-size: 30px;
}
.animation-ring > p {
    display: flex;
    font-size: 25px;
}

/* Gallery */

.img-1 {background-image: url('../images/fire_performance.jpg');}
.img-2 {background-image: url('../images/campfire.jpeg');}
.img-3 {background-image: url('../images/wood.jpeg');}
.img-4 {background-image: url('../images/ash.jpeg');}
.img-5 {background-image: url('../images/fire_mouth.jpg');}
.img-6 {background-image: url('../images/campfire2.jpeg');}
.img-7 {background-image: url('../images/fire_circle.jpg');}
.img-8 {background-image: url('../images/circle3.jpeg');}
.img-9 {background-image: url('../images/fireworks_circle.jpeg');}
.img-10 {background-image: url('../images/inferno.jpg');}
.img-11 {background-image: url('../images/explosion.jpg');}
.img-12 {background-image: url('../images/fireworks_circle2.jpg');}

.gallery {
    background-color: #131212;
    margin: 50px auto;
}
.gallery h1 {
    color: grey;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.gallery:hover h1{
    color: white;
}
.element {
    height: 90px;
    margin: 5px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}
.element-big {
    height: 180px;
}
body:hover .element {
    opacity: 0.3;
}
body .element:hover {
    opacity: 1;
    cursor: pointer;
}
.inside-container, .flex-column, .flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}

/* Cards */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	margin: 10px;
	display: flex;
	justify-content: center;
  	align-items: center;
	min-width: 200px;
 	min-height: 100px;
 	background-color: #C13277;
 	color: white;
 	transition: 0.5s;
}
.card:hover {
	transform: scale(1.1);
	background-color: #DC3E64;
}

/* Footer */

footer {
	background: linear-gradient(135deg, #DC3E64, #fa9600);
    background: -webkit-linear-gradient(135deg, #DC3E64, #fa9600);
	color: white;
}
footer .container {
    margin-top: 50px;
	display: flex;
	height: 100px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.copyright {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-data {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Social media buttons*/

footer .social {
    display: flex;
    justify-content: center;
    flex-grow: 6;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    padding: 50px;
}
footer .icon-btn{
    width: 75px;
    height: 75px;
    border: none;
    background-color: #F4F4F4;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 40px;
}
footer .icon-btn:hover {
    transform: scale(1.10);
    transition: .4s;
    color: #FFF;
}
footer .twitter {
    color: #4099FF;
}
footer .facebook {
    color: #3B5998;
}
footer .google-plus {
    color: #DB5A3C;
}
footer .instagram {
    color: #5C3D2E;
}
footer .github {
    color: #4183C4;
}
footer .twitter:hover {
    background-color: #4099FF;
}
footer .facebook:hover {
    background-color: #3B5998;
}
footer .google-plus:hover {
    background-color: #DB5A3C;
}
footer .instagram:hover {
    background-color: #5C3D2E;
}
footer .github:hover {
    background-color: #4183C4;
}

