@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*------------------------------*/
/* Global Styles */
/*------------------------------*/

* {
	box-sizing: border-box;
}
body {
	margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #F4F4F4;
}
.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
p::selection, h1::selection {
    background-color: #fa9600;
    color: #FFF;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
button {
    outline: none;
}

/*------------------------------*/
/* Navigation */
/*------------------------------*/

header .container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
	display: flex;
	align-items: center;
    justify-content: flex-start;
	font-weight: bold;
    font-size: 30px;
    width: 20%;
    height: 80px;
    background-color: #F4F4F4;
    text-transform: uppercase;
}
nav label, input {
    display: none;
}
#menu {
    background-image: linear-gradient(135deg, #fa9600, #F54952);
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 600px;
    padding: 0;
    border-radius: 10px;
}
nav ul li {
  	display: flex;
  	align-items: center;
	justify-content: center;
	width: 150px;
    background-position: 100% 0;
    background-size: 300%;
    cursor: pointer;
    transition: 1.2s;
}
nav ul li a {
  	text-decoration: none;
  	color: #FFF;
}

/* Navigation HOVER */
/*------------------------------*/

nav ul li:first-child:hover, li:nth-child(2):hover, li:nth-child(3):hover, li:last-child:hover {
    background-position: 0 100%;
    color: #8e44ad;
    background-image: linear-gradient(45deg, #C63473 30%, transparent 60%);
    border-color: #8e44ad;
    border-radius: 10px;
}
nav ul li:nth-child(2):hover {
    background-image: linear-gradient(90deg, #C63473 30%, transparent 60%);
}
nav ul li:nth-child(3):hover {
    background-image: linear-gradient(135deg, #C63473 30%, transparent 60%);
}

/*------------------------------*/
/* Slideshow */
/*------------------------------*/

.slideshow-container {
    display: block;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    height: 70vh;
    overflow: hidden;
    box-sizing: border-box;
}
.slides {
    display: none;
}
.slides img {
    margin: auto;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -42px;
    width: auto;
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    transition: 0.8s ease;
    border-radius: 5%;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: #F54952;
}
a i.fa {
    font-size: 45px;
}
.text {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    box-sizing: border-box;
    width: 100%;
    bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.dot-section {
    display: block;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #AFAFB1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #000;
}

/*------------------------------*/
/* Slideshow animation */
/*------------------------------*/

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.fade {
    animation: fade;
    animation-duration: 1.5s;
}

/*------------------------------*/
/* Button "Click me!" */
/*------------------------------*/

.button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
}
.animation-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 350px;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
    background-color: #F54952;
    border: none;
    color: #FFF;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.animation-button:hover {
    transform: scale(1.1);
    background-color: #C13277;
}
.back-button {
    margin: 0 auto;
}

/*------------------------------*/
/* Ring animation */
/*------------------------------*/

@keyframes clockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(180deg) scaleX(0.80) scaleY(0.95);
    }
    100% {
        transform: rotateZ(360deg) scaleX(1) scaleY(1);
    }
}
@keyframes counterclockwise {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    }
    100% {
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}
.animation-ring {
    position: relative;
    display: none;
    margin: 0 auto;
    margin-top: 400px;
    margin-bottom: 100px;
}
.ring {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    top: -400px;
    left: 50%;
    margin-top: 200px;
}
.ring:before, .ring:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
}
.ring:before {
    box-shadow: inset 0 25px 0 #ff0000, inset 25px 0 0 #F54952, inset 0 -25px 0 #CC3C1B, inset -25px 0 0 #E7435C;
    animation: counterclockwise 2.5s -0.5s linear infinite;
}
.ring:after {
    box-shadow: inset 0 25px 25px #fafa00, inset 25px 0 25px #fac800, inset 0 -25px 25px #fa9600, inset -25px 0 25px #fa6400;
    animation: clockwise 2.5s -0.5s linear infinite;
}

/*------------------------------*/
/* Gandalf quote */
/*------------------------------*/

.animation-ring > h1, .animation-ring > p {
    font-family: 'Eagle Lake', cursive;
    margin: 20px auto;
}
.animation-ring > h1 {
    font-size: 30px;
    text-align: center;
}
.animation-ring > p {
    font-size: 25px;
    text-align: center;
}

/*------------------------------*/
/* Story section */
/*------------------------------*/

.story-section .story-title {
    max-width: 1400px;
    margin: 0 auto 100px auto;
}
.story-section .story-title fieldset {
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid;
    margin-left: 50px;
    margin-right: 50px;
}
.story-section .story-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}
.story-section h1 {
    font-size: 40px;
}
.story-section .story-container .story h1 {
    font-size: 30px;
    color: #6b6b6b;
    text-align: left;
}
.story-section .story-container .story p {
    color: #808080;
    text-align: left;
    font-size: 18px;
    padding-right: 20px;
}
.story-section .story-container .story-last p {
    padding-right: 0;
}

/*------------------------------*/
/* Gallery */
/*------------------------------*/

.img-1 {background-image: url('../images/fire_performance.jpg');}
.img-2 {background-image: url('../images/campfire.jpeg');}
.img-3 {background-image: url('../images/wood.jpeg');}
.img-4 {background-image: url('../images/ash.jpeg');}
.img-5 {background-image: url('../images/fire_mouth.jpg');}
.img-6 {background-image: url('../images/campfire2.jpeg');}
.img-7 {background-image: url('../images/fire_circle.jpg');}
.img-8 {background-image: url('../images/circle3.jpeg');}
.img-9 {background-image: url('../images/fireworks_circle.jpeg');}
.img-10 {background-image: url('../images/inferno.jpg');}
.img-11 {background-image: url('../images/explosion.jpg');}
.img-12 {background-image: url('../images/fireworks_circle2.jpg');}

.gallery {
    background-color: #131212;
    margin: 200px auto 150px auto;
}
.gallery h1 {
    color: #808080;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.gallery:hover h1 {
    color: #FFF;
}
.element {
    height: 90px;
    margin: 5px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}
.element-big {
    height: 180px;
}
body:hover .element {
    opacity: 0.3;
}
body .element:hover {
    opacity: 1;
    cursor: pointer;
}
.inside-container, .flex-column, .flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}

/*------------------------------*/
/* Benefits */
/*------------------------------*/

.benefits {
    max-width: 1200px;
    margin: 150px auto 200px auto;
}
.benefits .row-benefits {
    display: flex;
}
.benefits .row-benefits .benefits-element {
    text-align: center;
    margin-top: 50px;
}
.benefits .row-benefits .benefits-element .benefits-btn {
    font-size: 80px;
    border: none;
    background-color: #F4F4F4;
    cursor: pointer;
    color: #fa9600;
}
.benefits .row-benefits .benefits-element p {
    color: #808080;
    margin: 0 50px;
}
.benefits .row-benefits .benefits-element h1 {
    text-transform: uppercase;
}
.benefits .row-benefits .benefits-element:hover h1 {
    color: #fa9600;
    transition: .3s;
}
.benefits .row-benefits .benefits-element:hover .benefits-btn {
    color: #DC3E64;
    transition: .3s;
}

/*------------------------------*/
/* Buy section */
/*------------------------------*/

.buy {
    width: 100%;
    margin: 200px auto;
    background-color: #F54952;
}
.buy .row-buy {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.buy .row-buy .buy-element {
    margin: 50px auto;
}
.buy .row-buy .buy-element > .span-label {
    margin-left: 50px;
    margin-top: 20px;
}
.buy .row-buy .buy-element h1 {
    margin-left: 50px;
    text-align: left;
}
.buy .row-buy .buy-element > p {
    margin-left: 50px;
}
.buy .row-buy .buy-element > p {
    margin-right: 100px;
    text-align: left;
}
.buy .row-buy .buy-element .span-label {
    border-radius: 10px;
    color: #F4F4F4;
    display: block;
    height: 30px;
    width: 110px;
    max-height: 100%;
    max-width: 100%;
    font-size: 15px;
    font-weight: bold;
    background-color: #ccccd7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy .row-buy .buy-element .buy-button {
    width: 150px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #F4F4F4;
    cursor: pointer;
    margin: 30px auto 20px 50px;
    text-transform: uppercase;
    word-break: wrap;
}
.buy .row-buy .buy-element .stars .star {
    border-radius: 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    background-color: #F54952;
    padding-bottom: 20px;
}
.buy .row-buy .buy-element .stars .star:first-child {
    margin-left: 50px;
}

/* Buy section HOVER */
/*------------------------------*/

.buy .row-buy .buy-element:hover {
    background-color: #F4F4F4;
    transition: .3s;
    border-radius: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.buy .row-buy .buy-element:hover p, .span-label, .buy-button {
    transition: 0.3s;
}
.buy .row-buy .buy-element:hover .span-label {
    background-color: #C63473;
    border-radius: 10px;
}
.buy .row-buy .buy-element:hover .buy-button {
    background-color: #F54952;
    color: #F4F4F4;
}
.buy .row-buy .buy-element:hover p {
    color: #808080;
}
.buy .row-buy .buy-element:hover .stars .star {
    color: #fa9600;
    background-color: #F4F4F4;
    transition: 0.3s;
}

/*------------------------------*/
/* Download section */
/*------------------------------*/

.download {
    max-width: 1200px;
    margin: 200px auto;
    text-align: center;
}
.download .download-container .download-button {
    margin: auto;
    margin-top: 30px;
}
.download .download-container h1 {
    font-size: 30px;
    color: #808080;
    margin: 0;
}
.download .download-container p {
    font-weight: bold;
    font-size: 18px;
}

/*------------------------------*/
/* Contact section */
/*------------------------------*/

.contact-container {
    max-width: 100%;
    background-image: linear-gradient(180deg, #fa9600, #F54952);
    margin: 0 auto;
    margin-top: 100px;
}
.contact-container .contact-row {
    max-width: 1200px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.contact-container .contact-row h1 {
    color: #F4F4F4;
    text-transform: uppercase;
}
.contact-container .contact-row p {
    color: #F4F4F4;
}
.contact-container .contact-row .location, .about, .social, .social .social-buttons {
    text-align: center;
}
.contact-container .contact-row .about {
    width: 350px;
}

/* Social media buttons */
/*------------------------------*/

.social .social-buttons .icon-btn {
    width: 55px;
    height: 55px;
    border: none;
    background-color: #F4F4F4;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 30px;
}
.social .social-buttons .twitter {
    color: #4099FF;
}
.social .social-buttons .facebook {
    color: #3B5998;
}
.social .social-buttons .google-plus {
    color: #DB5A3C;
}
.social .social-buttons .instagram {
    color: #5C3D2E;
}
.social .social-buttons .github {
    color: #4183C4;
}

/* Social media buttons HOVER */
/*------------------------------*/

.social .social-buttons .icon-btn:hover {
    transform: scale(1.10);
    transition: .4s;
    color: #FFF;
}
.social .social-buttons .twitter:hover {
    background-color: #4099FF;
}
.social .social-buttons .facebook:hover {
    background-color: #3B5998;
}
.social .social-buttons .google-plus:hover {
    background-color: #DB5A3C;
}
.social .social-buttons .instagram:hover {
    background-color: #5C3D2E;
}
.social .social-buttons .github:hover {
    background-color: #4183C4;
}

/*------------------------------*/
/* Footer */
/*------------------------------*/

footer {
	background-image: linear-gradient(180deg, #F54952, #DC3E64);
	color: #F4F4F4;
}
footer .container {
	display: flex;
	height: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 50px;
}
.contact-data {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* Responsive Design */
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*------------------------------*/
/* Smartphones */
/*------------------------------*/

@media (max-width: 767px) {

    .col-s-1 {flex: 8.333%;}
    .col-s-2 {flex: 16.667%;}
    .col-s-3 {flex: 25%;}
    .col-s-4 {flex: 33.333%;}
    .col-s-5 {flex: 41.667%;}
    .col-s-6 {flex: 50%;}
    .col-s-7 {flex: 58.333%;}
    .col-s-8 {flex: 66.667%;}
    .col-s-9 {flex: 75%;}
    .col-s-10 {flex: 83.333%;}
    .col-s-11 {flex: 91.667%;}
    .col-s-12 {flex: 100%;}

    /* General */
    /*------------------------------*/

    .animation-button {
        width: 200px;
    }


    /* Navigation */
    /*------------------------------*/

    header {
        height: auto;
        margin-bottom: 10px;
    }
    header .container {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    nav .logo {
        display: inline-block;
        line-height: 80px;
        margin-left: 25px;
    }
    nav label {
        display: inline-block;
        float: right;
        font-size: 30px;
        align-items: center;
        margin-right: 10px;
        line-height: 80px;
    }
    nav #menu-button:not(:checked) ~ul {
        display: none;
    }
    nav #menu-button:checked ~ul {
        visibility: visible;
    }
    nav #menu {
        display: block;
        flex-direction: column;
        list-style-type: none;
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    nav #menu li {
        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    /* Slideshow */
    /*------------------------------*/

    .slideshow-container {
        height: auto;
    }
    .slideshow-container .slides .text {
        display: none;
    }
    .slideshow-container .slides img {
        height: auto;
        position: static;
    }

    /* Animation ring */
    /*------------------------------*/

    .button-start {
        margin: 100px auto;
    }
    .animation-ring {
        margin-top: 260px;
    }
    .animation-ring .ring {
        width: 250px;
        height: 250px;
    }

    /* Story section */
    /*------------------------------*/

    .story-section .story-title fieldset {
        margin-left: 20px;
        margin-right: 20px;
    }
    .story-section .story-container .story p {
        padding-right: 0;
    }

    /* Buy section */
    /*------------------------------*/

    .buy .row-buy {
        max-width: 90%;
    }

    /* Download section */
    /*------------------------------*/

    .download .download-container h1, p {
        margin-right: 10px;
        margin-left: 10px;
    }

    /* Contact section & Footer */
    /*------------------------------*/

    .contact-container .contact-row .social {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contact-container .contact-row .about {
        margin: 0 10px;
        margin-top: 10px;
    }
    .contact-container .contact-row .social .icon-btn {
        margin-top: 10px;
    }
    footer .container-footer .copyright {
        justify-content: center;
        text-align: center;
        padding-right: 0;
    }
    footer .container-footer .copyright, .contact-data {
        justify-content: center;
        text-align: center;
    }
}


/*------------------------------*/
/* Tablets */
/*------------------------------*/

@media (min-width: 768px) and (max-width: 1199px) {

    .col-m-1 {flex: 8.333%;}
    .col-m-2 {flex: 16.667%;}
    .col-m-3 {flex: 25%;}
    .col-m-4 {flex: 33.333%;}
    .col-m-5 {flex: 41.667%;}
    .col-m-6 {flex: 50%;}
    .col-m-7 {flex: 58.333%;}
    .col-m-8 {flex: 66.667%;}
    .col-m-9 {flex: 75%;}
    .col-m-10 {flex: 83.333%;}
    .col-m-11 {flex: 91.667%;}
    .col-m-12 {flex: 100%;}

    /* Navigation */
    /*------------------------------*/

    header {
        height: auto;
        margin-bottom: 10px;
    }
    header .container {
        flex-direction: column;
    }
    nav .logo {
        flex: 1 100%;
        margin: 0 auto;
        justify-content: center;
    }
    header nav #menu {
        height: 48px;
        margin: 0 auto;
    }

    /* Animation ring */
    /*------------------------------*/

    .animation-ring .ring {
        width: 250px;
        height: 250px;
    }

    /* Slideshow */
    /*------------------------------*/

    .slideshow-container .slides .text {
        font-size: 20px;
        height: auto;
        position: absolute;
        top: 72%;
    }
    .slideshow-container .slides img {
        position: absolute;
    }

    /* Story section */
    /*------------------------------*/

    .story-section .story-title fieldset {
        margin-left: 30px;
        margin-right: 30px;
    }
    .story-section .story-container .story-second p {
        padding-right: 0;
    }

    /* Buy section */
    /*------------------------------*/

    .buy .row-buy {
        max-width: 90%;
    }

    /* Download section */
    /*------------------------------*/

    .download h1 {
        margin-right: 20px;
        margin-left: 20px;
    }

    /* Contact section & Footer */
    /*------------------------------*/

    .contact-container .contact-row .about {
        margin: 0 10px;
        margin-top: 10px;
    }
}


/*------------------------------*/
/* Desktop */
/*------------------------------*/

@media (min-width: 1200px) {

    .col-l-1 {flex: 8.333%;}
    .col-l-2 {flex: 16.667%;}
    .col-l-3 {flex: 25%;}
    .col-l-4 {flex: 33.333%;}
    .col-l-5 {flex: 41.667%;}
    .col-l-6 {flex: 50%;}
    .col-l-7 {flex: 58.333%;}
    .col-l-8 {flex: 66.667%;}
    .col-l-9 {flex: 75%;}
    .col-l-10 {flex: 83.333%;}
    .col-l-11 {flex: 91.667%;}
    .col-l-12 {flex: 100%;}
}

